/* home page */
.info {
    width: 100%;
    min-height: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.info-h1 {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: 'Marmelad', Arial;
    font-size: 20px;
}

.info-small {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Marmelad', Arial;
    font-size: 20px;
}

.card {
    width: 30%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-image {
    width: 90%;
    height: 200px;
}

.card-h2{
    padding: 10px;
    font-size: 22px;
    font-family: 'Marmelad', Arial;
    text-align: center;
}

.card-text{
    text-align: center;
    font-size: 16px;
    font-family: 'Marmelad', Arial;
    word-wrap: break-word;
    width: 90%;
    padding-bottom: 10px;
}

.partnership {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.partner-block {
    width: 100%;
    max-width: 900px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partner-image {
    max-width: 80%;
    height: 400px;
}

.text-block {
    max-width: 60%;
}

.partner-h2 {
    color: white;
    font-size: 24px;
    font-family: 'Marmelad', Arial;
    word-wrap: break-word;
}

.partner-p {
    color: white;
    font-size: 18px;
    font-family: 'Marmelad', Arial;
    word-wrap: break-word;
}

/* lessons page */

.lesson {
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.lesson-h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Marmelad', Arial;
    color: black;
    margin-top: 15px;
}

.lesson-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    min-height: 300px;
    padding: 5px;
}

.link{
    text-decoration: none;
}

.lesson-item {
    width: 300px;
    height: 100px;
    display: flex;
    background-color: #6927ff;
    padding: 7px;
    border-radius: 25px;
}

.lesson-item:hover {
    cursor: pointer;
}

.lesson-img {
    width: 40%;
    height: 100%;
    align-self: flex-start;
}

.lesson-h2 {
    width: 60%;
    height: 100%;
    color: white;
    font-family: 'Marmelad', Arial;
    font-size: 20px;
}



/* media queries*/
@media only screen and (max-width: 770px) {
    .card {
        width: 100%;
    }
}

@media only screen and (max-width: 830px) {
    .partner-block {
        flex-direction: column;
    }

    .text-block {
        max-width: 80%;
    }
}