.purple {
    background-color: #6927ff;
}

.second-purple {
    background-color: #837dff;
}

.orange {
    background-color: #ffa45c;
}

.yellow {
    background-color: #ffd581;
}

.white-text {
    color: white;
}

.info {
    width: 100%;
    min-height: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.info-h1 {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: 'Marmelad', Arial;
    font-size: 20px;
}

.card {
    width: 30%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-image {
    width: 90%;
    height: 200px;
}

.card-h2{
    padding: 10px;
    font-size: 22px;
    font-family: 'Marmelad', Arial;
    text-align: center;
}

.card-text{
    text-align: center;
    font-size: 16px;
    font-family: 'Marmelad', Arial;
    word-wrap: break-word;
    width: 90%;
    padding-bottom: 10px;
}

.partnership {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.partner-block {
    width: 100%;
    max-width: 900px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partner-image {
    max-width: 80%;
    height: 400px;
}

.text-block {
    max-width: 60%;
}

.partner-h2 {
    color: white;
    font-size: 24px;
    font-family: 'Marmelad', Arial;
    word-wrap: break-word;
}

.partner-p {
    color: white;
    font-size: 18px;
    font-family: 'Marmelad', Arial;
    word-wrap: break-word;
}

@media only screen and (max-width: 770px) {
    .card {
        width: 100%;
    }
}

@media only screen and (max-width: 830px) {
    .partner-block {
        flex-direction: column;
    }

    .text-block {
        max-width: 80%;
    }
}