/*
color palette

#6927ff - main purple
#837dff - secondary purple
#bf81ff - accent purple
#ffd581 - main yellow


some colors used during color experiment


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffd581;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    height: 75px;
}

.logo-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo-caption {
    font-size: 18px;
    font-family: 'Permanent Marker', Arial;
    padding-left: 5px;
    color: black;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.menu li a {
    font-family: 'Marmelad', Arial;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 14px 18px;
    margin: 5px 5px;
    border-radius: 25px;
    transition: 0.5s;
    transition-timing-function: ease;
    display: inline-block;
}

.menu li a:hover {
    background-color: #6927ff;
    color: white;
    cursor: pointer;
}

.mob-menu{
    width: 100%;
    height: 75px;
    background-color: #5911ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.menu-logo {
    margin-left: 15px;
}

.menu-icon {
    color: white;
    margin-right: 15px;
}


.intro {
    width: 100%;
    min-height: 500px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #6927ff;
}

.banner {
    max-width: 700px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 25px;
}

.banner-image {
    width: 200px;
    max-width: 300px;
    height: 200px;
}

.banner-h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Permanent Marker', Arial;
    color: white;
}

.banner-p {
    text-align: center;
    font-size: 18px;
    font-size: 'Marmelad', Arial;
    color: white;
}


.soon {
    width: 100%;
    padding: 30px;
    color: white;
    font-size: 18px;
    font-size: 'Marmelad', Arial;
    background-color: #6927ff;
    text-align: center;
    font-weight: 900;    
}

.main-foot {
    width: 100%;
    min-height: 400px;
    padding: 20px;
    background-color: #6927ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.foot-block {
    min-width: 300px;
    max-width: 800px;
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-h2 {
    color: white;
    font-size: 24px;
    font-family: 'Marmelad', Arial;
    word-wrap: break-word;
}

.foot-p {
    color: white;
    font-size: 18px;
    font-family: 'Marmelad', Arial;
    word-wrap: break-word;
}

.foot-image {
    max-width: 80%;
    height: 350px;
}

@media only screen and (max-width: 500px) {
    .mob-menu {
        z-index: 2;
    }

    .top-nav {
        position: absolute;
        z-index: -1;
    }
}

@media only screen and (max-width: 730px) {
    .foot-block {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 25px;
    }

    
}
