/*
color palette

#6927ff - main purple
#837dff - secondary purple
#bf81ff - accent purple
#ffd581 - main yellow

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    background-color: #ffd581;
}

.purple {
    background-color: #6927ff;
}

.second-purple {
    background-color: #837dff;
}

.orange {
    background-color: #ffa45c;
}

.yellow {
    background-color: #ffd581;
}

.white-text {
    color: white !important;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffd581;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
    height: 75px;
}

.logo-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo-caption {
    font-size: 18px;
    font-family: 'Permanent Marker', Arial;
    padding-left: 5px;
    color: black;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.menu li a {
    font-family: 'Marmelad', Arial;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 14px 18px;
    margin: 5px 5px;
    border-radius: 25px;
    transition: 0.5s;
    transition-timing-function: ease;
    display: inline-block;
}

.menu li a:hover {
    background-color: #6927ff;
    color: white;
    cursor: pointer;
}

.mob-menu{
    width: 100%;
    height: 75px;
    background-color: #5911ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    visibility: hidden;
}

.menu-logo {
    margin-left: 15px;
}

.menu-icon {
    color: white;
    margin-right: 15px;
}

.sidenav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #6927ff;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.8s;
}

.sidenav a {
    padding: 14px 16px;
    margin: 5px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Marmelad', Arial;
    color: white;
    transition: 0.5s;
    opacity: 1;
    border-radius: 25px;
}

.sidenav a:hover {
    background-color: #ffd581;
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 1%;
    right: 2%;
    z-index: 6;
    font-size: 40px;
    width: 48px;
    height: 48px;
    padding: 4px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.material-icons:hover {
    cursor: pointer;
}

.intro {
    width: 100%;
    min-height: 500px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #6927ff;
}

.intro-2 {
    width: 100%;
    min-height: 300px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #6927ff;
}

.banner {
    max-width: 700px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    border-radius: 25px;
}

.banner-image {
    width: 200px;
    max-width: 300px;
    height: 200px;
}

.banner-h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Permanent Marker', Arial;
    color: white;
}

.banner-p {
    text-align: center;
    font-size: 18px;
    font-family: 'Marmelad', Arial;
    color: white;
}

.main-foot {
    width: 100%;
    min-height: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-block {
    min-width: 300px;
    max-width: 800px;
    min-height: 350px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.foot-h2 {
    color: white;
    font-size: 24px;
    font-family: 'Marmelad', Arial;
    word-wrap: break-word;
    width: 90%;
    max-width: 500px;
}

.foot-p {
    color: white;
    font-size: 18px;
    font-family: 'Marmelad', Arial;
    word-wrap: break-word;
    max-width: 600px;
}

.foot-image {
    max-width: 100%;
    max-height: 350px;
    margin-right: 15px;
}

@media only screen and (max-width: 500px) {
    .mob-menu {
        visibility: visible;
    }

    .top-nav {
        visibility: hidden;
    }
}

@media only screen and (max-width: 730px) {
    .foot-block {
        width: 100%;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .foot-image {
        margin-right: 0px;
        margin-top: 15px;
    }

    .foot-h2 {
        text-align: center;
    }
}
